@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
}

body{
    background-color: rgb(33, 33, 33);
    color:rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    background-image: url("forest.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: rgb(26, 26, 26);
    margin: 0;
}
.header a{
    text-decoration: none;
    color: white;
}

.header a:hover{
    text-decoration: underline;
}

.green{
    color:rgb(13, 129, 13)
}

.header img{
    max-height: 50px;
}

.content{
    width: 380px;
    margin: auto;
    margin-top: 40px;
}

.LogHeadline{
    text-align: center;
}

.Form-row{
    margin-top: 30px;
}

::placeholder{
    color: rgb(180, 180, 180);
}

.Form-row label{
    display: block;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(243, 243, 243);
    margin-bottom: 5px;
}

.Form-row input{
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    padding: 16px 12px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    backdrop-filter: blur(40px);
}

.Form-row input:focus{
    border: 3px solid rgb(185, 185, 185);
    outline: 0;
}

.submit-button {
    background: aqua;
    display: block;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 12px;
    margin-top: 40px;
    width: 100%;
}

.submit-button:hover{
    background: rgb(88, 215, 215);
    cursor:pointer
}